body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
}

.rm-button {
  background-color: #d42d2d;
  border-color: #d42d2d;
  border-radius: 50%;
  color: white;
}

.rm-button:hover {
  cursor: pointer;
}

.rm-button:focus {
  outline: none;
}

.done {
  text-decoration: line-through;
}

.addTodo {
  margin-bottom: 1rem;
}